.container {
    -fx-background-color: #222222;
}

.textCurrency {
    -fx-text-alignment: center;
    -fx-text-fill: #61c28d;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-padding: 10;
}
.listCurrency .list-cell{
    -fx-background-color: #222222;
    -fx-border-color: #111111;
    -fx-border-width: 1;
}
.scrollPane {
    -fx-background-color: red;
}
.scrollPane .scroll-bar {
    -fx-background-color: #222222;
}
.scrollPane > .scroll-bar:vertical {
    -fx-background-color: red;
}
.menuButton {
    -fx-background-color: transparent;
    -fx-border-color: #61c28d;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-font-size: 12;
}
.listCall {
    -fx-background-color: #222222;
    -fx-text-fill: #61c28d;
    -fx-fill: #61c28d;
    -fx-alignment: center;
    -fx-spacing: 40;
    -fx-pref-height: 60;
}
.hyperlink {
    -fx-text-fill: #757575;
}